
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url('pictures/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:17%; 
  font-family: 'Gabriela', serif;

}
.landing h1{
  padding: 2px;
  margin: 5px;
  font-size: 45x;
}
.landing p{
  padding: 2px;
  font-size: 50px;
}
#logo{
  margin-top: 30px;
  margin-bottom: 24px;
  width: 150px;
  height: 150px;
}
#mouseclick{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
#mouseClick {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 30%, 60%, 90%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-66px);
  }
  60% {
    transform: translateY(- 50px);
  }
}
.about{
  text-align: center;
  padding-bottom: 30px;
  padding-top:40px;
  font-family: 'Copse', serif;
  font-size: 35px;
}
#about{
  font-family: 'Gabriela', serif;
  font-size: 60px;
}
.services{
  text-align: center;
  background-image: url("pictures/service2.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Copse', serif;
  font-size: 18px;
}
.services h2{
  font-family: 'Gabriela', serif;
  font-size: 45px;
  
}
#servicesoverlay{
  background-color: rgba(0,0,0,0.4);
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 50px;
  

}


.what-section {
  padding:50px;
  display: inline-block;
}

.what-heading {
color: black;
text-align: center;
font-size: 50px;

}

.what-subheading {
  font-size: 40px;
}

.what-para{
  color:black;
  display: none;
  font-size: 53px;
}


.container{
  position: relative;
  width: 400px;
  height: 400px;
  display: inline-block;
  
  
}
.image{
  display: block;
  width: 400px;
  height: 400px;
margin-left: 250px;
}
.overlay{
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: inherit;
  
}
.container:hover .overlay{
  opacity: 2.25;
}

.text{
  color: bold black;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transition:translate(-10%, -10%);
  font-size: 50px;
}
.overlayCenter{
  height: 90%;
  width: 0;
  top: 0;
  left: 0;
}

.overlayRight{
  height: 100%;
  width:30px;
  top: 0;
  left: 0;

}
  .overlayFade{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
  
}
.container:hover .overlayCenter,.container:hover .overlayRight,.container:hover .overlayFade ,.container:hover .overlayFade {
  width: 100%;
}
