
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url('pictures/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:17%; 
  font-family: 'Gabriela', serif;

}
.landing h1{
  padding: 2px;
  margin: 5px;
}
.landing p{
  padding: 2px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}
#mouseclick{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
#mouseClick {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 30%, 60%, 90%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-66px);
  }
  60% {
    transform: translateY(- 50px);
  }
}
