
html{
  scroll-behavior: smooth;
}
.landing{
  background-image: url('pictures/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:17%; 
  font-family: 'Gabriela', serif;

}
.landing h1{
  padding: 2px;
  margin: 5px;
  font-size: 45x;
}
.landing p{
  padding: 2px;
  font-size: 50px;
}
#logo{
  margin-top: 30px;
  margin-bottom: 24px;
  width: 150px;
  height: 150px;
}
#mouseclick{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
#mouseClick {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 30%, 60%, 90%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-66px);
  }
  60% {
    transform: translateY(- 50px);
  }
}

#About h2{
  text-align: center;
  font-size: 45px;
  font-family: EB Garamond;
  letter-spacing: 5px;

}
#About p{
  font-family:EB Garamond ;
  font-size: 40px;
  text-align: center;

}
.services{
  text-align: center;
  background-image: url("pictures/service2.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Copse', serif;
  font-size: 18px;
}
.services h2{
  font-family: 'Gabriela', serif;
  font-size: 45px;
  
}
#servicesoverlay{
  background-color: rgba(0,0,0,0.4);
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 50px;
  

}


.what-we-do{
  font-family: 'Quattrocento', serif;
  text-align: center;
  padding-top: 40px;
  font-family: 'Gabriela', serif;
}
.what-we-do .headings{
  padding-bottom: 38px;
}

#product, #development, #design{
  display: none;
  font-family: 'Copse', serif;
  font-size: 16px;
}
#product .title, #development .title, #design .title{
  font-size: 20px;
  font-weight: 600;

}
.col-md-4{
  float:left;
  /* width: 33.33%;  */
  padding: 20px;
  font-size: 40px;
  padding-right:2px;

}
.row::after {
  content: "";
  clear:both;
  display:table;
  padding-left:20px;
}


/* .portfolio h2{
  text-align: center;
  margin-left: 400px;
  padding-top:40px;
  font-family: EB Garamond;
  font-size: 50px;


}
.container{
  width:  1000px;
  min-height:100px;
  margin-left: 90px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.container .box{
  position:relative;
  width:300px;
  box-sizing: border-box;
  float:left;
  padding:3px;
}


.container .box .imgBox{
  position: relative;
  overflow: hidden;
  
}
.container .box .imgBox img{
  max-width: 1000px;
  transition: transform 2s;
  

}
.container .box:hover .imgBox img{
  transform:scale(1.2);
}
.container .box .details{
  position:absolute;
  top:  10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  transform: scale(0);
  transition: transform .5s;
  background-color: rgb(250, 245, 245);
}
.container .box .details h2{
  margin: 0;
  padding: 0;
  font-size: 50px;
  color:black;
  text-align: center;
}

.container .box:hover .details{
  transform:scaleY(1)
} */

#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:18%;
  margin-right: 16%; 
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
  font-family: 'Gabriela', serif;
}

#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  display: none;
  color: black;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.456);
  position:absolute;
  top: 20px;
  left: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 50%;
  font-family: 'Delius Swash Caps', cursive;
}
@media only screen and (max-width: 755px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    /* font-size: 16px; */
  }
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  button{
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
    /* margin-left: 10px; */

    /* margin-right: -20%; */
  }
}
@media only screen and (max-width: 425px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    font-size: 20px;
  }
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  button{
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  #MERGE0{
    width: 84%;
    margin-left: 4%;
    padding-bottom: 10px;
  }
  #MERGE1{
    width: 100%;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  #comment{
    margin-left: 4%;
    width: 84%;
  }
}
@media only screen and (min-width: 825px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:30%; 
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:10%;
    margin-right: 10%; 
  }
}
@media only screen and (min-width: 625px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:20%; 
    font-size: 26px;
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:6%;
    margin-right: 10%; 
  }
}

section#contact {
  background-color: #212529;
  background-image: url("pictures/c-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

section .contactForm .form-control {
  border: 0;
  background: none;
  border: 2px solid #FFFFFF;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input[type="text"]::placeholder {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input[type="email"]::placeholder {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

textarea::-webkit-input-placeholder {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.submit-btn{
  display: flex;
  justify-content: center;
}


.social a{
  text-decoration: none;
  font-size:2em;
  padding:1rem;
}

.feedback {
  display: none;
}
.showFeedback{
  display: block;
}

.alert-success{
  background-color: rgb(118, 175, 52);
  color:white;
}
.alert-danger{
  background-color: rgb(212, 40, 40);
  color:white;
}
